.markerList {
  margin-top: 5rem;
  color: white;
}

.markerList table {
  background-color: #fff;
}

.ant-table table,
.ant-table-placeholder {
  width: 50% !important;
  margin: 0 auto !important;
}

.ant-table-pagination.ant-pagination {
  display: none;
}
