.ant-btn {
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  height: 4rem !important;
  padding: 0px 5rem !important;
}

.stopwatch {
  margin-top: 20vh;
}

.stopwatch-time {
  color: white;
  font-size: 800%;
  margin: 2rem 0;
}
